body{
	background-color: #F6F6F6;
    color:#5E5E63;
	font-size:18px;
	font-family: "Karla";
}

.nav-full {
	display: flex;
	position: fixed;
	top: 32px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	align-items: center;
	justify-content: space-between;
	padding-left: 64px;
	padding-right: 64px;
}

.nav-left {
	display: flex;
	align-items: center;
}

.nav-right {
	display: flex;
	align-items: center;
}


#navobject-hire{
	background-color: #ECF0F1;
	padding: 4px 8px 4px 8px;
	margin-right: 16px;
	border: 0;
	border-width: 0px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px;
}

#navobject-hire-mobile{
	background-color: #ECF0F1;
	padding: 4px 6px 4px 6px;
	border: 0;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px;
	display: none;
}

#face-icon{
	clip-path: circle(32px at center);
}

#navobject-mail{
	background-color: #ECF0F1;
	border: 0;
	width: 64px;
	height: 64px;
	border-radius: 100px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px;
}

#face-icon{
	clip-path: circle(32px at center);
}

#navobject-face{
	background-color: #ECF0F1;
	border: 0;
	width: 64px;
	height: 64px;
	border-radius: 100px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px;
}

.full-width{
	display: flex;
	justify-content: center;
}

.showcase {
	margin-top: 216px;
}

.main-header{
	font-size:68px;
	font-family: "Inter";
	font-weight: 400;
	text-align: center;
	margin: 0px;
}

.location-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
	margin-bottom: 38px;
}

#house-icon{                                 
	margin-right: 6px;
}

.bold-text{
	font-weight: bold;
}

.subtitle{
	margin: 0px;
	margin-bottom: 132px;
	line-height: 150%;
	text-align: center;
}

/*Mobile/Small*/
@media (max-width:  499px) {
	#navobject-hire {
		display: none;
	}
	#navobject-hire-mobile {
		display: block;
	}
	.nav-full{
		padding-left: 20px;
		padding-right: 20px;
	}

	.full-width{
		padding-left: 28px;
		padding-right: 28px;
	}
	.main-header{
		font-size: 35px;
	}
}

/* Mobile/Tablet */
@media (min-width: 500px) {

	.nav-full{
		padding-left: 32px;
		padding-right: 32px;
	}

	.full-width{
		padding-left: 80px;
		padding-right: 80px;
	}

	.main-header{
		font-size: 42px;
	}
}

/* Tablet/SmallDesktop */
@media (min-width: 600px) {

	.full-width{
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-header{
		font-size: 64px;
	}

}

/* Desktop+ */
@media (min-width: 1000px) {

	body{
		font-size: 20px;
	}

	.main-header{
		font-size: 72px;
	}

}
